fastapi[standard]
uvicorn
pymongo
pydantic
pydantic-settings
python-dotenv
python-multipart
passlib
python-jose
bcrypt
pyotp
python-magic
pillow
redis
apscheduler
httpx
cloudinary
aiofiles
routers
jwt
sib-api-v3-sdk
qrcode
